/* Reset básico:
   remove margens e espaçamentos padrão do navegador
   e melhora o controle do tamanho dos elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral da página */
body {
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
}

/* Container principal:
   centraliza a caixa do formulário no meio da tela */
.agendamento-container {
  min-height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  flex-direction: column;
}

.titulo {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 25px;
}

.titulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #ff1100;
  margin: 20px auto 0;
}

.titulo h1 {
  font-size: 36px;
  color: #222;
  margin-bottom: 10px;
  font-weight: 600;
}

.titulo p {
  font-size: 16px;
  color: #666;
}

/* Caixa branca do formulário */
.reserva {
  width: 100%;
  max-width: 700px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 40px;
  box-shadow:
   0 50px 70px rgba(0, 0, 0, 0.08),
   0 5px 15px rgba(0, 0, 0, 0.04);
}

.reserva:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}
/* Título principal do formulário */
.reserva h2 {
  font-size: 32px;
  color: #222;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

/* Linha usada para colocar campos lado a lado */
.linha {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Estrutura padrão de cada campo:
   label em cima, input/select/textarea embaixo */
.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Texto acima dos campos */
.campo label {
  margin-bottom: 6px;
  font-size: 13px;
  color: #666;
  font-weight: 500;
}

/* Estilo padrão dos inputs e selects */
.campo input,
.campo select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  width: 100%;
}

/* Efeito visual quando o usuário clica no campo */
.campo input:focus,
.campo select:focus {
  border: 1px solid #999;
}

/* Mensagem de erro da data */
.erro-data {
  color: #d11a2a;
  font-size: 13px;
  margin-top: 6px;
}

/* Caixa de observações */
.campo textarea {
  padding: 16px;
  border-radius: 14px;
  border: 1px solid #ddd;
  font-size: 14px;
  resize: none; /* impede o usuário de redimensionar manualmente */
  height: 160px;
  width: 100%;
  font-family: inherit;
  outline: none;
  transition: 0.2s;
}

/* Destaque ao clicar na área de observações */
.campo textarea:focus {
  border: 1px solid #000;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

/* Botão principal de confirmar reserva */
.btnReserva {
  width: 100%;
  padding: 14px;
  background-color: #f2d9bb;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  color: #313131;
}

/* Efeito ao passar o mouse no botão */
.btnReserva:hover {
  background-color: #ff0015;
  color: white;
  transform: scale(1.03);
}

/* BLOCO TODO DO TOPO */
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* BARRA DE CIMA */
.topbar {
  background-color: #ff0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.topbar-social i {
  font-size: 18px;
}

.topbar-social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fa-instagram {
  color: yellow;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-facebook {
  color: #1877f2;
}
.topbar-social a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
}

.topbar-social a:hover {
  transform: translateY(-1px);
}
.topbar-actions {
  display: flex;
  gap: 10px;
}

.btn-top {
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}

.btn-reserva-top {
  background-color: #e6d1b1;
  color: #222;
}

.btn-pedido-top {
  background-color: #1dbb12;
  color: white;
}

/* BARRA DE BAIXO */
.navbar-principal {
  background-color: #ead5b7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  text-decoration: none;
  color: inherit;
}

.logo h1 {
  font-size: 28px;
  color: #222;
  margin: 0;
  line-height: 1;
  font-weight: normal;
}

.logo span {
  font-size: 16px;
  letter-spacing: 2px;
  color: #444;
  margin-top: 8px;
  text-align: center;
  position: relative;
}

.logo span::before,
.logo span::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #444;
  position: absolute;
  top: 50%;
  display: none;
}

.logo span::before {
  left: -50px;
}

.logo span::after {
  right: -50px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s;
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0%;
  height: 4px;
  background-color: #c40000;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: 0.3s;
}

.menu a:hover {
  color: #ff0000;
}

.menu a:hover::after {
  width: 60%;
}

.menu .ativo::after {
  width: 60%;
}

.menu .ativo {
  color: #ff0000;
  font-weight: 700;
}

/* BOX WHATSAPP */
.whatsapp-box {
  background: #0d3b2e;
  border: 1px solid #1db954;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto 20px;
}

/* TEXTO */
.whatsapp-info {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.whatsapp-info i {
  font-size: 28px;
  color: #1db954;
}

.whatsapp-info h3 {
  margin: 0;
  font-size: 18px;
}

.whatsapp-info p {
  margin: 0;
  font-size: 13px;
  color: #ccc;
}

/* BOTÃO */
.btn-whatsapp {
  background: #1db954;
  color: #fff;
  text-decoration: none;

  padding: 12px 20px;
  border-radius: 8px;

  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;

  transition: 0.2s;
}

.btn-whatsapp:hover {
  background: #17a74a;
  transform: scale(1.05);
}

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  margin: 10px auto 20px;
}

.divider span {
  padding: 0 10px;
  color: #777;
  font-size: 13px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
}

.footer {
  background-color: #111;
  color: #fff;
  padding: 50px 40px 20px;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ead5b7;
}

.footer-col p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 8px;
  line-height: 1.6;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
}

.footer-bottom p {
  font-size: 13px;
  color: #888;
}